@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth; }

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;               /* Chrome, Safari, iOS */
    }

    .no-scrollbar {
        -ms-overflow-style: none;    /* IE/Edge */
        scrollbar-width: none;       /* Firefox */
    }
}

/* apply it to the page */
@layer base {
    html,
    body {
        @apply no-scrollbar;
    }
}

@keyframes fade-in {
    from { opacity: 0; transform: translateY(2px); }
    to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
    animation: fade-in .25s ease-out forwards;
}

